/* Moved over from index.html */
fieldset {
    border: 0;
    }
    label {
    display: block;
    margin: 30px 0 0 0;
    }
    .overflow {
    height: 200px;
    }


/* Logo Style in Footer */
    footer img {
       height: 50px; 
    }


/* Header */
    header {
        text-align: center;
        background-color: rgba(0, 0, 0, 0.05);
    }


    /* Footer */
    footer div {
        text-align:center;
    }


    /* Modal Close Button */
    .modal-close-button {
        text-align: center;
    }


    /* Hero styles BEGIN */
.hero {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/jpg-pics/guitar-1312959.jpg");
    background-size: cover;
    background-position: center;
}
/* Hero styles END */

